extends layouts/main.pug

block content
    .form-container
        form(action=`/users${routes.change_password}`, method="post")
            input(type="password", name="current-password", placeholder="Current Password")
            input(type="password", name="new-password", placeholder="New Password")
            input(type="password", name="verify-password", placeholder="Verify Password")
            input(type="submit", value="Change Password")