extends layouts/main.pug
include mixins/videoBlock.pug

block content
    .search__header
        h2 Results for #{searchKeyword}
    .search__videos
        each item in videos
            +videoBlock({
                videoFile: item.videoFile,
                title: item.title,
                views: item.views

            })